<mat-card class="example-card">
  <mat-card-header>     
    <mat-card-title>Sleep Wears</mat-card-title>      
  </mat-card-header>
  
  <img mat-card-image class="image-size" src="assets/images/pajamas_.jpg" alt="pajamas">
  <mat-card-content>
    <span>
      Upgrade your current beddy buddy with most cozy sleep accessories.
    </span>
  </mat-card-content>
  <div class="card-padding">
  <mat-card-actions class="card-open-button">
    <button mat-button (click)="goToBedacsItems()">OPEN</button>      
  </mat-card-actions>
</div>
</mat-card>
